<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

</head>
<body>
<header class="p3 text" style="height: 77px;">
    <div id="navigationbar" class="navbar">
        <ul>
            <li><a href='index.html' class="nav-link">Home |</a></li>
        </ul>
    </div>
</header>

{% block content %}

{% endblock %}

</body>
</html>