body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

h1 {
    color: #212529;
    text-align: left;
    font-size: 2.5rem;
    margin-top: 40px;
    font-weight: bold;
}

p {
    text-align: left;
    font-size: 1.1em;
    color: #212529;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

a {
    color: #004080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}